<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705900343360-9cjpbnec76vnl2stq8ve6kh4iin7kegv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705900343360-9cjpbnec76vnl2stq8ve6kh4iin7kegv</string>
	<key>API_KEY</key>
	<string>AIzaSyB5s4g1ZpZojel4Y3hH8ucmRYu0L0lRJFw</string>
	<key>GCM_SENDER_ID</key>
	<string>705900343360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skart.FallingKokeraForiOS</string>
	<key>PROJECT_ID</key>
	<string>kokeraotoshiforios</string>
	<key>STORAGE_BUCKET</key>
	<string>kokeraotoshiforios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705900343360:ios:57af0137eff35326b8efa5</string>
</dict>
</plist>