<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552789382499-92q3ekrtnoeejvc5ssfsss4vi84v0lkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552789382499-92q3ekrtnoeejvc5ssfsss4vi84v0lkh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>552789382499-7u05lo3lto74pvaf0kamluri50mp0ebu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKxOnlN8j7wwTtHBXX0sJ5vEyhVNW8Ws4</string>
	<key>GCM_SENDER_ID</key>
	<string>552789382499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skart.FallingKokeraForiOS</string>
	<key>PROJECT_ID</key>
	<string>kokeraotoshi-c4f45</string>
	<key>STORAGE_BUCKET</key>
	<string>kokeraotoshi-c4f45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552789382499:ios:1155b79bdcc0725e2aaf56</string>
	<key>DATABASE_URL</key>
	<string>https://kokeraotoshi-c4f45-default-rtdb.firebaseio.com</string>
</dict>
</plist>